<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Students performance</title>
  </head>
  <body>
    <main class="container">
      <article>
        <table>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Week 1 completed</th>
              <th scope="col">Week 2 completed</th>
              <th scope="col">Week 3 completed</th>
            </tr>
          </thead>
          <tbody>
            {% for performance in performances %}
            <tr>
              <th scope="row">{{performance.student_name}}</th>
              <td>{% if performance.week1_completed %}✅{% else %}❌{% endif %}</td>
              <td>{% if performance.week2_completed %}✅{% else %}❌{% endif %}</td>
              <td>{% if performance.week3_completed %}✅{% else %}❌{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </article>
    </main>
  </body>
</html>
