<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Tasks</title>
    <style>
      article.card {
        margin-bottom: 20px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <div class="grid">
        <div>
          <h4>К выполнению</h4>
          {% for task in tasks %}
            {% if task.status == 'todo' %}
            <article class="card">{{task.title}}</article>
            {% endif %}
          {% endfor %}
        </div>
        <div>
          <h4>В процессе</h4>
          {% for task in tasks %}
            {% if task.status == 'in_progress' %}
            <article class="card">{{task.title}}</article>
            {% endif %}
          {% endfor %}
        </div>
        <div>
          <h4>Выполнено</h4>
          {% for task in tasks %}
            {% if task.status == 'done' %}
            <article class="card">{{task.title}}</article>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </main>
  </body>
</html>
