<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
      .dangerous {
        background-color: lightpink;
      }
    </style>
    <title>Transactions</title>
  </head>
  <body>
    <main class="container">
      <article>
        <h2>5 transactions to review</h2>
        <table>
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Submit datetime</th>
              <th scope="col">Amount</th>
              <th scope="col">Receiver id</th>
              <th scope="col">Not fraud</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th style="font-size: x-small">12f8e914-1fa0-490b-a5fd-1ab0c9bde5b8</th>
              <td>2023-06-12 15:24</td>
              <td>14 GBP</td>
              <td style="font-size: x-small">898882f5-4557-4eb2-b5b1-9874d0b07c50</td>
              <td>✅</td>
            </tr>
            <tr>
              <th style="font-size: x-small">12f8e914-1fa0-490b-a5fd-1ab0c9bde5b8</th>
              <td>2023-06-12 15:24</td>
              <td>8 USD</td>
              <td style="font-size: x-small">898882f5-4557-4eb2-b5b1-9874d0b07c50</td>
              <td>✅</td>
            </tr>
            <tr class="dangerous">
              <th style="font-size: x-small">12f8e914-1fa0-490b-a5fd-1ab0c9bde5b8</th>
              <td>2023-06-12 15:24</td>
              <td>14 GBP</td>
              <td style="font-size: x-small">898882f5-4557-4eb2-b5b1-9874d0b07c50</td>
              <td>❌</td>
            </tr>
            <tr class="dangerous">
              <th style="font-size: x-small">12f8e914-1fa0-490b-a5fd-1ab0c9bde5b8</th>
              <td>2023-06-12 15:24</td>
              <td>14 GBP</td>
              <td style="font-size: x-small">898882f5-4557-4eb2-b5b1-9874d0b07c50</td>
              <td>❌</td>
            </tr>
            <tr>
              <th style="font-size: x-small">12f8e914-1fa0-490b-a5fd-1ab0c9bde5b8</th>
              <td>2023-06-12 15:24</td>
              <td>14 GBP</td>
              <td style="font-size: x-small">898882f5-4557-4eb2-b5b1-9874d0b07c50</td>
              <td>✅</td>
            </tr>
          </tbody>
        </table>
      </article>
    </main>
  </body>
</html>
