<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
      .dangerous {
        background-color: lightpink;
      }
    </style>
    <title>Transactions</title>
  </head>
  <body>
    <main class="container">
      <article>
        <h2>{{transactions|length}} transactions to review</h2>
        <table>
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Submit datetime</th>
              <th scope="col">Amount</th>
              <th scope="col">Receiver id</th>
              <th scope="col">Not fraud</th>
            </tr>
          </thead>
          <tbody>
          {% for transaction in transactions %}
            <tr {% if transaction.can_be_fraud %} class="dangerous" {% endif %}>
            <th style="font-size: x-small">{{transaction.id}}</th>
              <td>{{transaction.submitted_at|date:"Y-m-d H:i"}}</td>
              <td>{{transaction.amount}} {{transaction.currency.value}}</td>
              <td style="font-size: x-small">{{transaction.receiver_id}}</td>
              <td>{% if transaction.can_be_fraud %}❌{% else %}✅{% endif %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </article>
    </main>
  </body>
</html>
